Repository bmodee/Teknikattan: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client:linting, client:report, server:setup, server:test, server:report

.gitlab/client.gitlab-ci.yml:

client:setup:
  image: node
  stage: setup
  only:
    refs:
      - dev
      - merge_requests
  script:
    - cd client
    - npm install
  artifacts:
    name: 'artifacts'
    untracked: true
    expire_in: 15 mins
    paths:
      - client/.npm/
      - client/node_modules/
  cache:
    key: '$CI_COMMIT_REF_SLUG'
    paths:
      - client/.npm/
      - client/node_modules/

client:linting:
  image: node:10
  stage: test
  needs: ['client:setup']
  allow_failure: true
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - client/**/*
  script:
    - cd client
    - npm run lint

client:test:
  image: node:10
  stage: test
  needs: ['client:setup']
  only:
    refs:
      - dev
      - merge_requests
  script:
    - cd client
    - npm run unit-test:coverage
  coverage: /All files\s*\|\s*([\d\.]+)/
  artifacts:
    paths:
      - client/output/coverage/jest/cobertura-coverage.xml
    expire_in: 5 min

client:report:
  image: python
  stage: report
  needs: ['client:test']
  only:
    refs:
      - merge_requests
    changes:
      - client/**/*
  script:
    - cd client
    - python coverage_report.py
  artifacts:
    reports:
      cobertura: client/output/coverage/jest/cobertura-coverage.xml
    expire_in: 1 week

.gitlab/server.gitlab-ci.yml:

server:setup:
  image: python
  stage: setup
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  artifacts:
    paths:
      - server/env
    expire_in: 15 min
    untracked: true
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - server/env
  script:
    - python --version
    - pip install virtualenv
    - cd server/
    - python -m venv env
    - source env/bin/activate
    - pip install -r requirements.txt

server:test:
  image: python
  stage: test
  needs: ["server:setup"]
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  script:
    - cd server
    - source env/bin/activate
    - pytest --cov app tests/
    - coverage xml
  artifacts:
    paths:
      - server/coverage.xml
    expire_in: 5 min

server:report:
  image: python
  stage: report
  needs: ["server:test"]
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  script:
    - cd server
    - python coverage_report.py
  artifacts:
    reports:
      cobertura: server/coverage.xml
    expire_in: 1 week

doc: arguments in main
  docs/source/development/server.md
Due: none

remove production.py
  server/production.py
Due: server:setup, server:test, server:report

comment: index.tsx and App.tsx
  client/src/App.tsx
  client/src/index.tsx
Due: client:linting, client:report

Update further.md
  docs/source/development/further.md
Due: none

Possible fix to a client error
  docs/source/installation/client.md
  server/README.md
Due: server:setup, server:test, server:report

Fix socket sync issues
  server/app/core/sockets.py
Due: server:setup, server:test, server:report

Fix problem with judge not be able to add scores
  client/src/pages/views/components/JudgeScoreDisplay.tsx
Due: client:linting, client:report

Fix problem with multiple and single choice questions
  client/src/pages/presentationEditor/components/answerComponents/AnswerMultiple.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerSingle.tsx
Due: client:linting, client:report

Fix problem when deleting alternatives
  server/app/apis/alternatives.py
  server/app/database/controller/delete.py
Due: server:setup, server:test, server:report

Order competitions by year, users and regions by name
  server/app/apis/misc.py
  server/app/database/__init__.py
  server/app/database/controller/get.py
  server/app/database/controller/search.py
Due: server:setup, server:test, server:report

Fix tests
  server/tests/test_app.py
Due: server:setup, server:test, server:report
