Repository bmodee/Teknikattan: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client:linting, client:report, server:setup, server:test, server:report

.gitlab/client.gitlab-ci.yml:

client:setup:
  image: node
  stage: setup
  only:
    refs:
      - dev
      - merge_requests
  script:
    - cd client
    - npm install
  artifacts:
    name: 'artifacts'
    untracked: true
    expire_in: 15 mins
    paths:
      - client/.npm/
      - client/node_modules/
  cache:
    key: '$CI_COMMIT_REF_SLUG'
    paths:
      - client/.npm/
      - client/node_modules/

client:linting:
  image: node:10
  stage: test
  needs: ['client:setup']
  allow_failure: true
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - client/**/*
  script:
    - cd client
    - npm run lint

client:test:
  image: node:10
  stage: test
  needs: ['client:setup']
  only:
    refs:
      - dev
      - merge_requests
  script:
    - cd client
    - npm run unit-test:coverage
  coverage: /All files\s*\|\s*([\d\.]+)/
  artifacts:
    paths:
      - client/output/coverage/jest/cobertura-coverage.xml
    expire_in: 5 min

client:report:
  image: python
  stage: report
  needs: ['client:test']
  only:
    refs:
      - merge_requests
    changes:
      - client/**/*
  script:
    - cd client
    - python coverage_report.py
  artifacts:
    reports:
      cobertura: client/output/coverage/jest/cobertura-coverage.xml
    expire_in: 1 week

.gitlab/server.gitlab-ci.yml:

server:setup:
  image: python
  stage: setup
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  artifacts:
    paths:
      - server/env
    expire_in: 15 min
    untracked: true
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - server/env
  script:
    - python --version
    - pip install virtualenv
    - cd server/
    - python -m venv env
    - source env/bin/activate
    - pip install -r requirements.txt

server:test:
  image: python
  stage: test
  needs: ["server:setup"]
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  script:
    - cd server
    - source env/bin/activate
    - pytest --cov app tests/
    - coverage xml
  artifacts:
    paths:
      - server/coverage.xml
    expire_in: 5 min

server:report:
  image: python
  stage: report
  needs: ["server:test"]
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  script:
    - cd server
    - python coverage_report.py
  artifacts:
    reports:
      cobertura: server/coverage.xml
    expire_in: 1 week

Resolve "Fix move slides on backend"
  client/src/pages/presentationEditor/PresentationEditorPage.tsx
  server/app/apis/slides.py
  server/app/database/controller/utils.py
  server/tests/test_db.py
  server/tests/test_helpers.py
Due: client:linting, client:report, server:setup, server:test, server:report

Add dialog when deleting a competition
  client/src/pages/admin/competitions/CompetitionManager.tsx
Due: client:linting, client:report

feat: Add copy link button
  client/src/pages/views/OperatorViewPage.tsx
Due: client:linting, client:report

Add metrics script and readme
  metrics/README.md
  metrics/metrics-script.py
  server/app/database/models.py
Due: server:setup, server:test, server:report

Fix server bug
  client/src/pages/admin/dashboard/components/CurrentUser.tsx
  metrics/README.md
  server/app/database/models.py
Due: client:linting, client:report, server:setup, server:test, server:report

revert dashboard component to earlier version
  client/src/pages/admin/dashboard/components/CurrentUser.tsx
Due: client:linting, client:report

update e2e tests
  client/package-lock.json
  client/src/e2e/AdminPage.test.tsx
  client/src/pages/admin/competitions/CompetitionManager.tsx
Due: client:linting, client:report

Resolve "Comment misc redux files"
  client/src/actions/cities.ts
  client/src/actions/competitionLogin.ts
  client/src/actions/competitions.ts
  client/src/actions/editor.ts
  client/src/actions/presentation.ts
  client/src/actions/roles.ts
  client/src/actions/searchUser.ts
  client/src/actions/statistics.ts
  client/src/actions/types.ts
  client/src/actions/typesAction.ts
  client/src/actions/user.ts
  client/src/hooks.ts
  client/src/reducers/allReducers.ts
  client/src/reducers/citiesReducer.ts
  client/src/reducers/competitionLoginReducer.ts
  client/src/reducers/competitionsReducer.ts
  client/src/reducers/editorReducer.ts
  client/src/reducers/presentationReducer.ts
  client/src/reducers/rolesReducer.ts
  client/src/reducers/searchUserReducer.ts
  client/src/reducers/statisticsReducer.ts
  client/src/reducers/typesReducer.ts
  client/src/reducers/uiReducer.ts
  client/src/reducers/userReducer.ts
  client/src/store.ts
Due: client:linting, client:report

Resolve "Minor fixes"
  client/src/actions/competitionLogin.ts
  client/src/actions/competitions.ts
  client/src/actions/presentation.test.ts
  client/src/actions/presentation.ts
  client/src/actions/types.ts
  client/src/pages/admin/AdminPage.tsx
  client/src/pages/admin/competitions/AddCompetition.tsx
  client/src/pages/admin/competitions/CompetitionManager.tsx
  client/src/pages/admin/regions/AddRegion.tsx
  client/src/pages/admin/regions/Regions.tsx
  client/src/pages/admin/users/AddUser.tsx
  client/src/pages/login/styled.tsx
  client/src/pages/presentationEditor/PresentationEditorPage.tsx
  client/src/pages/presentationEditor/components/CompetitionSettings.tsx
  client/src/pages/presentationEditor/components/ImageComponentDisplay.tsx
  client/src/pages/presentationEditor/components/QuestionComponentDisplay.tsx
  client/src/pages/presentationEditor/components/RndComponent.tsx
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/Timer.tsx
  client/src/pages/views/AudienceViewPage.tsx
  client/src/pages/views/JudgeViewPage.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/TeamViewPage.tsx
  client/src/pages/views/components/JudgeScoreDisplay.tsx
  client/src/pages/views/components/JudgeScoringInstructions.tsx
  client/src/pages/views/components/PresentationComponent.tsx
  client/src/pages/views/components/Timer.tsx
  client/src/reducers/editorReducer.ts
  client/src/reducers/presentationReducer.test.ts
  client/src/reducers/presentationReducer.ts
  client/src/sockets.ts
  client/src/utils/SecureRoute.tsx
  client/src/utils/checkAuthenticationCompetition.test.ts
  client/src/utils/checkAuthenticationCompetition.ts
Due: client:linting, client:report

Fix non compiling test
  client/src/actions/competitionLogin.test.ts
Due: client:linting, client:report

Add sphinx rtd theme to requirements
  server/requirements.txt
Due: server:setup, server:test, server:report

Confirm that all slides are in order
  server/tests/test_db.py
  server/tests/test_helpers.py
Due: server:setup, server:test, server:report

Fix dashboard to display correct information
  client/src/pages/admin/dashboard/components/CurrentUser.tsx
Due: client:linting, client:report

Add max value for score value
  client/package-lock.json
  client/src/pages/presentationEditor/components/slideSettingsComponents/QuestionSettings.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/Timer.tsx
Due: client:linting, client:report

Add timer and slide counter
  client/src/pages/presentationEditor/components/slideSettingsComponents/Timer.tsx
  client/src/pages/views/TeamViewPage.tsx
Due: client:linting, client:report

fix: remove unused tinymce plugins
  client/src/pages/presentationEditor/components/TextComponentEdit.tsx
Due: client:linting, client:report

fix: removed unused fonts in tinymce
  client/src/pages/presentationEditor/components/TextComponentEdit.tsx
Due: client:linting, client:report

fix: removed tinymce brand and performance
  client/src/pages/presentationEditor/components/TextComponentEdit.tsx
Due: client:linting, client:report

Resolve "Minor bug fixes"
  client/src/actions/competitionLogin.test.ts
  client/src/actions/competitionLogin.ts
  client/src/interfaces/ApiModels.ts
  client/src/interfaces/ApiRichModels.ts
  client/src/pages/admin/AdminPage.tsx
  client/src/pages/admin/competitions/AddCompetition.tsx
  client/src/pages/admin/regions/Regions.tsx
  client/src/pages/admin/users/AddUser.tsx
  client/src/pages/admin/users/UserManager.tsx
  client/src/pages/login/components/CompetitionLogin.tsx
  client/src/pages/presentationEditor/components/CompetitionSettings.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/QuestionSettings.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/SlideType.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/Timer.tsx
  client/src/pages/presentationEditor/components/styled.tsx
  client/src/pages/presentationEditor/styled.tsx
  client/src/pages/views/JudgeViewPage.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/TeamViewPage.tsx
  client/src/pages/views/ViewSelectPage.tsx
  client/src/pages/views/components/Timer.tsx
  client/src/pages/views/styled.tsx
  client/src/reducers/competitionLoginReducer.ts
  client/src/reducers/presentationReducer.ts
  server/app/core/http_codes.py
  server/app/core/sockets.py
  server/app/database/controller/add.py
  server/app/database/controller/copy.py
  server/app/database/controller/delete.py
  server/app/database/controller/edit.py
  server/app/database/models.py
Due: client:linting, client:report, server:setup, server:test, server:report

fix: tinymce toolbar style
  client/src/pages/presentationEditor/components/TextComponentEdit.tsx
Due: client:linting, client:report

refactor timer and slide display
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/views/TeamViewPage.tsx
  client/src/pages/views/components/Timer.tsx
Due: client:linting, client:report

Fix operator timer
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/components/Timer.tsx
Due: client:linting, client:report

Fix broken client
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
Due: client:linting, client:report

Select correct tab when refreshing admin
  client/src/pages/admin/AdminPage.tsx
Due: client:linting, client:report

added comments for the files described in the issue description
  client/src/pages/presentationEditor/components/QuestionComponentDisplay.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMultiple.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerSingle.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
  client/src/pages/presentationEditor/components/answerComponents/Description.txt
  client/src/pages/presentationEditor/components/slideSettingsComponents/Description.txt
  client/src/pages/presentationEditor/components/slideSettingsComponents/Images.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/Instructions.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/MultipleChoiceAlternatives.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/QuestionSettings.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/SingleChoiceAlternatives.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/SlideType.tsx
Due: client:linting, client:report

Resolve "Improve sockets"
  client/src/actions/presentation.ts
  client/src/interfaces/Timer.ts
  client/src/pages/admin/AdminPage.tsx
  client/src/pages/views/AudienceViewPage.tsx
  client/src/pages/views/JudgeViewPage.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/TeamViewPage.tsx
  client/src/pages/views/components/Timer.tsx
  client/src/reducers/presentationReducer.test.ts
  client/src/reducers/presentationReducer.ts
  client/src/sockets.ts
  server/app/apis/auth.py
  server/app/core/sockets.py
  server/requirements.txt
  server/tests/test_app.py
Due: client:linting, client:report, server:setup, server:test, server:report

Scale slide and time left text
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/presentationEditor/components/styled.tsx
Due: client:linting, client:report

Add synced scoreboard
  client/src/actions/presentation.ts
  client/src/actions/types.ts
  client/src/pages/views/AudienceViewPage.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/components/Scoreboard.tsx
  client/src/pages/views/components/Timer.tsx
  client/src/reducers/presentationReducer.test.ts
  client/src/reducers/presentationReducer.ts
  client/src/sockets.ts
  server/app/core/sockets.py
Due: client:linting, client:report, server:setup, server:test, server:report

Resolve "Rework QuestionAnswer"
  client/src/interfaces/ApiModels.ts
  client/src/interfaces/ApiRichModels.ts
  client/src/pages/presentationEditor/PresentationEditorPage.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMultiple.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerSingle.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
  client/src/pages/views/components/JudgeScoreDisplay.tsx
  client/src/pages/views/components/Scoreboard.tsx
  client/src/pages/views/components/styled.tsx
  server/app/apis/answers.py
  server/app/core/dto.py
  server/app/core/rich_schemas.py
  server/app/core/schemas.py
  server/app/database/controller/add.py
  server/app/database/controller/delete.py
  server/app/database/controller/get.py
  server/app/database/models.py
  server/populate.py
  server/tests/test_app.py
  server/tests/test_helpers.py
Due: client:linting, client:report, server:setup, server:test, server:report

Resolve "Styling"
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/TeamViewPage.tsx
  client/src/pages/views/styled.tsx
Due: client:linting, client:report

Resolve "Fix window reload in operator view"
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/presentationEditor/components/Teams.tsx
  client/src/pages/presentationEditor/components/styled.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/components/Timer.tsx
Due: client:linting, client:report

Add snackbar when duplicate team names and pre-select edited team's name
  client/src/pages/presentationEditor/components/Teams.tsx
Due: client:linting, client:report

Resolve "Disable timer when info slide"
  client/src/pages/presentationEditor/components/SlideSettings.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/SlideType.tsx
Due: client:linting, client:report

fix: text question bug, feat: show answers in judge view
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/SlideType.tsx
  client/src/pages/views/JudgeViewPage.tsx
  client/src/pages/views/components/JudgeScoreDisplay.tsx
  client/src/pages/views/components/styled.tsx
Due: client:linting, client:report

Add comments to socket files
  client/src/sockets.ts
  server/app/core/sockets.py
Due: client:linting, client:report, server:setup, server:test, server:report

fix: component order in get competition
  server/app/core/rich_schemas.py
  server/app/core/schemas.py
  server/app/database/controller/get.py
  server/configmodule.py
Due: server:setup, server:test, server:report

fix: text format in populate and add new text button in client
  client/src/pages/presentationEditor/components/slideSettingsComponents/Texts.tsx
  server/populate.py
Due: client:linting, client:report, server:setup, server:test, server:report

Resolve "Add server comments"
  server/app/__init__.py
  server/app/apis/media.py
  server/app/core/__init__.py
  server/app/core/codes.py
  server/app/core/files.py
  server/app/core/schemas.py
  server/app/database/__init__.py
  server/app/database/controller/add.py
  server/app/database/controller/copy.py
  server/app/database/controller/get.py
  server/app/database/models.py
  server/app/database/types.py
  server/populate.py
Due: server:setup, server:test, server:report

fix: database get functions now works for postgre and auth locked work with right timezone in postgre.
  server/app/apis/auth.py
  server/app/database/controller/get.py
  server/app/database/models.py
  server/configmodule.py
  server/populate.py
Due: server:setup, server:test, server:report
