Repository bmodee/Teknikattan: changes, and which GitLab CI jobs are due for each by the changed paths.
All: client:linting, client:report, server:setup, server:test, server:report

.gitlab/client.gitlab-ci.yml:

client:setup:
  image: node
  stage: setup
  only:
    refs:
      - dev
      - merge_requests
  script:
    - cd client
    - npm install
  artifacts:
    name: 'artifacts'
    untracked: true
    expire_in: 15 mins
    paths:
      - client/.npm/
      - client/node_modules/
  cache:
    key: '$CI_COMMIT_REF_SLUG'
    paths:
      - client/.npm/
      - client/node_modules/

client:linting:
  image: node:10
  stage: test
  needs: ['client:setup']
  allow_failure: true
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - client/**/*
  script:
    - cd client
    - npm run lint

client:test:
  image: node:10
  stage: test
  needs: ['client:setup']
  only:
    refs:
      - dev
      - merge_requests
  script:
    - cd client
    - npm run unit-test:coverage
  coverage: /All files\s*\|\s*([\d\.]+)/
  artifacts:
    paths:
      - client/output/coverage/jest/cobertura-coverage.xml
    expire_in: 5 min

client:report:
  image: python
  stage: report
  needs: ['client:test']
  only:
    refs:
      - merge_requests
    changes:
      - client/**/*
  script:
    - cd client
    - python coverage_report.py
  artifacts:
    reports:
      cobertura: client/output/coverage/jest/cobertura-coverage.xml
    expire_in: 1 week

.gitlab/server.gitlab-ci.yml:

server:setup:
  image: python
  stage: setup
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  artifacts:
    paths:
      - server/env
    expire_in: 15 min
    untracked: true
  cache:
    key: "$CI_COMMIT_REF_SLUG"
    paths:
      - server/env
  script:
    - python --version
    - pip install virtualenv
    - cd server/
    - python -m venv env
    - source env/bin/activate
    - pip install -r requirements.txt

server:test:
  image: python
  stage: test
  needs: ["server:setup"]
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  script:
    - cd server
    - source env/bin/activate
    - pytest --cov app tests/
    - coverage xml
  artifacts:
    paths:
      - server/coverage.xml
    expire_in: 5 min

server:report:
  image: python
  stage: report
  needs: ["server:test"]
  only:
    refs:
      - dev
      - merge_requests
    changes:
      - server/**/*
  script:
    - cd server
    - python coverage_report.py
  artifacts:
    reports:
      cobertura: server/coverage.xml
    expire_in: 1 week

fix: delete image conflict
  server/app/apis/media.py
  server/app/database/models.py
Due: server:setup, server:test, server:report

fix: cannot answer question
  server/app/database/controller/get.py
Due: server:setup, server:test, server:report

fix: question score use first_api instead of first_extended and have it's own file
  server/app/apis/__init__.py
  server/app/apis/answers.py
  server/app/apis/scores.py
  server/app/database/controller/get.py
Due: server:setup, server:test, server:report

Add comments
  client/src/pages/login/components/AdminLogin.test.tsx
  client/src/pages/login/components/AdminLogin.tsx
  client/src/pages/login/components/CompetitionLogin.test.tsx
Due: client:linting, client:report

Add comments
  client/src/App.tsx
Due: client:linting, client:report

Add comments
  client/src/pages/views/OperatorViewPage.tsx
Due: client:linting, client:report

Resolve "Add pair match questions"
  client/src/interfaces/ApiModels.ts
  client/src/pages/presentationEditor/PresentationEditorPage.tsx
  client/src/pages/presentationEditor/components/QuestionComponentDisplay.tsx
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/presentationEditor/components/SlideSettings.tsx
  client/src/pages/presentationEditor/components/TextComponentDisplay.tsx
  client/src/pages/presentationEditor/components/TextComponentEdit.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMatch.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMultiple.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerSingle.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
  client/src/pages/presentationEditor/components/answerComponents/styled.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/MatchAlternatives.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/MultipleChoiceAlternatives.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/QuestionSettings.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/SingleChoiceAlternatives.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/SlideType.tsx
  client/src/pages/presentationEditor/components/styled.tsx
  client/src/pages/views/JudgeViewPage.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/components/JudgeScoreDisplay.tsx
  client/src/pages/views/components/JudgeScoringInstructions.tsx
  client/src/pages/views/components/Timer.tsx
  client/src/pages/views/components/styled.tsx
  client/src/utils/renderSlideIcon.tsx
  server/app/apis/alternatives.py
  server/app/apis/misc.py
  server/app/apis/slides.py
  server/app/core/schemas.py
  server/app/database/controller/add.py
  server/app/database/controller/get.py
  server/app/database/controller/utils.py
  server/app/database/models.py
  server/populate.py
  server/tests/test_db.py
Due: client:linting, client:report, server:setup, server:test, server:report

Fix bug where answers were locked for questions which
  client/src/pages/presentationEditor/components/answerComponents/AnswerMatch.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMultiple.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerSingle.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
Due: client:linting, client:report

User can be named when created
  client/src/pages/admin/users/AddUser.tsx
  server/app/apis/auth.py
Due: client:linting, client:report, server:setup, server:test, server:report

Fix: Clear regions when submitting
  client/src/pages/admin/regions/AddRegion.tsx
Due: client:linting, client:report

Minor fixes
  client/src/pages/admin/competitions/AddCompetition.tsx
  client/src/pages/admin/regions/AddRegion.tsx
  client/src/pages/admin/users/AddUser.tsx
  client/src/pages/admin/users/EditUser.tsx
  client/src/pages/login/components/AdminLogin.tsx
  client/src/pages/login/components/CompetitionLogin.tsx
  client/src/pages/presentationEditor/components/TextComponentEdit.tsx
  client/src/pages/views/components/JudgeScoreDisplay.tsx
Due: client:linting, client:report

Slides start out as information slides
  server/app/apis/slides.py
  server/app/database/controller/add.py
Due: server:setup, server:test, server:report

Fix timer lockout and remove default slide question
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMatch.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMultiple.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerSingle.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
  client/src/pages/views/components/Timer.tsx
  server/app/apis/slides.py
  server/app/database/controller/add.py
  server/app/database/controller/copy.py
  server/tests/test_app.py
  server/tests/test_helpers.py
Due: client:linting, client:report, server:setup, server:test, server:report

Fix copying question alternatives and its test code
  client/src/pages/admin/competitions/AddCompetition.tsx
  server/app/database/controller/add.py
  server/app/database/controller/copy.py
  server/app/database/models.py
  server/populate.py
  server/tests/test_app.py
  server/tests/test_db.py
  server/tests/test_helpers.py
Due: client:linting, client:report, server:setup, server:test, server:report

Resolve "Documentation"
  .vscode/tasks.json
  README.md
  client/README.md
  docs/source/contact.md
  docs/source/development.rst
  docs/source/development/client.md
  docs/source/development/external.md
  docs/source/development/further.md
  docs/source/development/server.md
  docs/source/development/vscode.md
  docs/source/documentation/client.md
  docs/source/documentation/general.md
  docs/source/documentation/server.md
  docs/source/installation.rst
  docs/source/installation/client.md
  docs/source/installation/server.md
  docs/source/introduction.md
  docs/source/introduction.rst
  docs/source/introduction/project.md
  docs/source/introduction/system.md
  docs/source/overview.rst
  docs/source/overview/client.md
  docs/source/overview/overview.md
  docs/source/overview/server.md
  docs/source/testing.rst
  docs/source/testing/client.md
  docs/source/testing/e2e.md
  docs/source/testing/server.md
  docs/source/user_manual/admin.md
  docs/source/user_manual/editor.md
  docs/source/user_manual/login.md
  docs/source/user_manual/presentation.md
  server/README.md
Due: client:linting, client:report, server:setup, server:test, server:report

fix duplicate keys in tables
  client/src/pages/admin/competitions/CompetitionManager.tsx
  client/src/pages/admin/regions/Regions.tsx
  client/src/pages/admin/users/UserManager.tsx
Due: client:linting, client:report

Fix answer route
  client/src/pages/presentationEditor/components/answerComponents/AnswerMatch.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerMultiple.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerSingle.tsx
  client/src/pages/presentationEditor/components/answerComponents/AnswerText.tsx
Due: client:linting, client:report

Resolve "Comment presentation editor"
  client/src/pages/presentationEditor/PresentationEditorPage.tsx
  client/src/pages/presentationEditor/components/BackgroundImageSelect.tsx
  client/src/pages/presentationEditor/components/CompetitionSettings.tsx
  client/src/pages/presentationEditor/components/ImageComponentDisplay.tsx
  client/src/pages/presentationEditor/components/QuestionComponentDisplay.tsx
  client/src/pages/presentationEditor/components/RndComponent.tsx
  client/src/pages/presentationEditor/components/SettingsPanel.tsx
  client/src/pages/presentationEditor/components/SlideDisplay.tsx
  client/src/pages/presentationEditor/components/SlideSettings.tsx
  client/src/pages/presentationEditor/components/Teams.tsx
  client/src/pages/presentationEditor/components/TextComponentDisplay.tsx
  client/src/pages/presentationEditor/components/TextComponentEdit.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/Texts.tsx
  client/src/pages/presentationEditor/components/slideSettingsComponents/Timer.tsx
  client/src/pages/presentationEditor/components/styled.tsx
Due: client:linting, client:report

Resolve "Fix image uploading bug"
  client/src/pages/presentationEditor/components/slideSettingsComponents/Images.tsx
Due: client:linting, client:report

Resolve "Update documentation"
  docs/source/contact.md
  docs/source/development/client.md
  docs/source/development/external.md
  docs/source/development/further.md
  docs/source/development/vscode.md
  docs/source/documentation/client.md
  docs/source/installation/client.md
  docs/source/installation/server.md
  docs/source/overview/overview.md
  docs/source/overview/server.md
  docs/source/testing/client.md
  docs/source/testing/e2e.md
  docs/source/user_manual/editor.md
  docs/source/user_manual/presentation.md
  server/app/database/__init__.py
  server/app/database/controller/delete.py
  server/app/database/controller/edit.py
  server/app/database/controller/utils.py
Due: server:setup, server:test, server:report

Add comments
  client/package-lock.json
  client/src/utils/SecureRoute.tsx
  client/src/utils/checkAuthenticationAdmin.ts
  client/src/utils/checkAuthenticationCompetition.ts
  client/src/utils/renderSlideIcon.tsx
  client/src/utils/uploadImage.ts
Due: client:linting, client:report

Add comments
  client/src/utils/checkAuthenticationAdmin.ts
  client/src/utils/checkAuthenticationCompetition.ts
Due: client:linting, client:report

Add comments
  client/src/utils/SecureRoute.tsx
Due: client:linting, client:report

Add task that start client, server and populate at the same time
  .vscode/tasks.json
Due: none

add views comments
  client/package-lock.json
  client/src/pages/views/AudienceViewPage.tsx
  client/src/pages/views/JudgeViewPage.tsx
  client/src/pages/views/OperatorViewPage.tsx
  client/src/pages/views/TeamViewPage.tsx
  client/src/pages/views/ViewSelectPage.tsx
  client/src/pages/views/components/JudgeScoreDisplay.tsx
  client/src/pages/views/components/JudgeScoringInstructions.tsx
  client/src/pages/views/components/Scoreboard.tsx
  client/src/pages/views/components/Timer.tsx
  client/src/pages/views/components/styled.tsx
  client/src/pages/views/styled.tsx
Due: client:linting, client:report

Update docs/source/development/further.md
  docs/source/development/further.md
Due: none

Add comments to interfaces
  client/src/interfaces/ApiModels.ts
  client/src/interfaces/ApiRichModels.ts
  client/src/interfaces/Components.ts
  client/src/interfaces/FilterParams.ts
  client/src/interfaces/FormModels.ts
  client/src/interfaces/Timer.ts
  client/src/interfaces/ViewParams.ts
Due: client:linting, client:report

Resolve "Testing for competitions and teams"
  docs/source/overview.rst
  docs/source/overview/database.md
  server/app/database/controller/add.py
  server/app/database/controller/copy.py
  server/app/database/models.py
  server/tests/__init__.py
  server/tests/test_app.py
  server/tests/test_db.py
  server/tests/test_helpers.py
Due: server:setup, server:test, server:report

Move puppeteer to devDependencies
  client/package-lock.json
Due: client:linting, client:report

Actually move puppeteer to devDependencies
  client/package-lock.json
  client/package.json
Due: client:linting, client:report

update: README.md in server for linux
  server/README.md
Due: server:setup, server:test, server:report

add: production.py for running in production mode
  server/configmodule.py
  server/production.py
Due: server:setup, server:test, server:report

fix: readme.md server pscopg2
  server/README.md
Due: server:setup, server:test, server:report

Update server installation instructions
  .gitlab/server.gitlab-ci.yml
  docs/source/installation/server.md
  server/README.md
  server/requirements-dev.txt
  server/requirements.txt
Due: server:setup, server:test, server:report

Add psycopg to documentation
  docs/source/installation/server.md
Due: none

add: args in main and secret-webconfig file
  server/app/__init__.py
  server/configmodule.py
  server/main.py
  server/populate.py
  server/secret-webconfig.json
  server/tests/__init__.py
Due: server:setup, server:test, server:report

fix: populate is now done in main.py with argument populate
  .vscode/tasks.json
  server/main.py
  server/populate.py
Due: server:setup, server:test, server:report

fix: socket proxy
  client/src/sockets.ts
  server/app/core/sockets.py
Due: client:linting, client:report, server:setup, server:test, server:report

update gitignore
  server/.gitignore
  server/README.md
Due: server:setup, server:test, server:report
